*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

header {
    height: 100vh;
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(37,72,174,0.5718662464985995) 100%); */
    background: url('../img/header\ \(3\).png' )no-repeat center center ;
    position: relative;
}

header>nav{
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img[alt="vector"] {
    position: absolute;
    bottom: 240px;
    left: 120px
}

#content-header  {
    color : #8564f0ea;
    font-size: 1.7rem;
    /* margin: 50px 0 0 300px; */
    position: absolute;
    top: 25%;
    text-align: center;
    left: 20%;
    
    
    max-width: 1000px;
}

ul.nav-top{
    position: fixed;
    top: 7px;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: white;
    font-size: 1.2rem;
    /* width: 25%; */
    margin: 11px 15px;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, #756CDA, #A9A9A9, #DCDCDC);
    opacity: 0.7;
    animation: gradientEffect 12s ease-in-out infinite;
    background-size: 400% 400%;
    border-radius: 25px;
    z-index: 2000;

        li:first-child{
            padding: 5px;
            color:#32329e;
            border-radius: 15px;
            background-color: #a290f4;
        }

}


@keyframes gradientEffect {
    0% {
      background: linear-gradient(45deg, #756CDA, #9B8DD9, #B5A7D7, #DCDCDC);
    }
    25% {
      background: linear-gradient(45deg, #9B8DD9, #B5A7D7, #DCDCDC, #756CDA);
    }
    50% {
      background: linear-gradient(45deg, #B5A7D7, #DCDCDC, #756CDA, #9B8DD9);
    }
    75% {
      background: linear-gradient(45deg, #DCDCDC, #756CDA, #9B8DD9, #B5A7D7);
    }
    100% {
      background: linear-gradient(45deg, #756CDA, #9B8DD9, #B5A7D7, #DCDCDC);
    }
  }

button#dernier-projet{
    background-color: #756CDA;
    color: white;
    border:none;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.1rem;
    border: 1px solid rgba(255, 255, 255, 0.297)
    ;
    transition: all 0.3s ease-in-out;


}

#dernier-projet:hover{
    background-color: #5b4f9d;
    border: solid 1px #fff;
    transform: scale(1.03);
}

button#savoir-plus
{
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    border:none;
    padding: 15px;
    margin: 0 12px;
    border-radius: 20px;
   border: solid 1px #b262fe;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;

}

button#savoir-plus:hover{
    background-color: #5b4f9d;
    border: solid 1px #fff;
    transform: scale(1.03);
}

#btn-header{
    position: absolute;
    top: 61%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 2000;
    /* transform: translate(-10%, -10%); */
}



ul.nav-top > li {
    margin : 0 15px;
}

div#me{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: 100px; */
    /* margin-left: 300px; */
    min-width: 1500px;
    height: 100vh;
}

#me p{
    position: absolute;
    top: 44%;
    left: 47%;
    transform:translate(-50%, -50%);
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;         
    font-size: 6.5rem; 
    font-weight: bold; 
    font-weight: bold;
    background: linear-gradient(45deg, #dcdcdc, #a9a9a9, #dcdcdc, #7f78c8, #a9a9a9);
    -webkit-background-clip: text; 
    color: transparent;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 20px rgba(162, 157, 214, 0.8), 
                 0 0 30px rgba(117, 108, 218, 0.9), 0 0 40px rgba(117, 108, 218, 1); 
                 
    animation: glowing 2.4s ease-in-out infinite; 
  }
  

  @keyframes glowing {
    0% {
      text-shadow: 0 0 4px rgba(174, 172, 190, 0.8), 0 0 20px rgba(177, 171, 236, 0.8), 
                   0 0 30px rgba(143, 140, 178, 0.9), 0 0 20px rgb(161, 156, 213);
    }
    50% {
      text-shadow: 0 0 15px rgb(155, 130, 206), 0 0 20px rgba(96, 88, 175, 0.8), 
                   0 0 45px rgba(117, 108, 218, 0.7), 0 0 20px rgba(117, 108, 218, 0.6);
    }
    100% {
      text-shadow: 0 0 8px rgba(117, 108, 218, 0.8), 0 0 20px rgba(117, 108, 218, 0.8), 
                   0 0 30px rgba(117, 108, 218, 0.9), 0 0 40px rgba(117, 108, 218, 1);
    }
  }


#latest-work {
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    background-color: #3C3C5C;
    max-width: 650px;
    border-radius: 10px;
    position: relative;
    left: 31%;
    top: -2%;
    border: 1px solid rgb(186, 161, 209);
    align-items: center;
    justify-content: center; 

    #from{
        font-family:cursive;
        color : rgb(179, 178, 178);
        margin: 27px 0 0 242px
        

    }
   
    #my-latest{
        color: rgb(255, 255, 255);
        font-size: 4rem;
        
    
    }

    img{
        height: 93px;
        justify-content: flex-end;
    }

    .flex{
        display: flex;
        gap: 10px;
    }
}

.flex{
    display: flex;
    gap: 10px;
}


#my-latest-project {
    /* height: 100vh; */
    display: flex;
    justify-content: center;

    }
    main.contain-project{
       
        max-width: 85vw;
        overflow: hidden;
        
        .container-project {
            position: relative;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 30px;
            border-radius: 5px;
            z-index: 1000;
            border: solid 1px #a9a8a8;
            margin-top: 25px;
            
            background-color: #1E1E2F;
            box-shadow: 2px 3px 17px 0px rgba(71,71,71,0.1);

            p.name-project {
                color:#756CDA;
                font-size: 1.5rem;
                max-width: 880px;
                margin: 19px;
            }

            p.discover {
                color:#8989c0 ;
                font-size: 1.2rem;
                max-width: 880px;
                margin: 19px;
            }
            .flex {
                margin: 7px;
                position: relative;
                display: flex;
                align-items: center;

                span {
                    position: absolute;
                    top: 0px;
                    right: 20px;
                    font-size: 50px !important;
                }
            }
        }
    
        .vue-projet {
            display: flex;
            margin-top: 45px;
            overflow: hidden;
            max-height: 680px;

            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }

            img.mobile-vue {
            
                max-height: 650px;
            }

            .container-vue {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
                display: flex;
                margin-top: 100px;
                
                
                .desktop-vue {
                    max-width: 100% !important;
                    height: auto !important;
                    align-self: center;
                    margin: 0 auto;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }

            .desktop-vue-task {
                display: block;
                margin: 0 auto;
                max-width: 65%;
                height: auto !important;
                align-self: center;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }

body{
    background: rgba(30, 30, 47, 0.9);
    height: 200vh;

}   


/* ----------------------------CONTACT FORM */
#top-contain{
    display: flex;
    justify-content: space-between;
    margin: 20px;

    figure img {
        height: 91px;
    }

    #nav-content{
        display: flex;
        background-color: rgb(63, 63, 63);
        border-radius: 20px;
        padding: 5px;
        width: 300px;
        justify-content: flex-end;

        span{
            margin-right: auto;
            color: #fff;
            margin-left: 10px;
            margin-top: 6px;
            font-weight: 600;
            font-size: 1rem;
            
        }
        p{
           background-color: #92A7E7;
           padding: 5px;
           border-radius: 19px;
           color: #0A2050;
        }
    }

    #menu {
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
    }
}


#body-form { 
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(37,72,174,1) 100%) no-repeat;
    height: 100vh;
}

#contact-form{
    display:grid;

    grid-template-columns: repeat(3,1fr);
        h1{
            color:#fff;
        }
   
        input{
            margin: 25px;
            border: 1px solid #fff;
            border-top-style: none;
            border-left-style: none;
            border-right-style: none;
            width: 50%;
            background-color:rgba(255, 255, 255, 0);
        }

        

        section#second-colomn{
            p,
            h1{
                color: #fff;
                margin: 10px 0;
            }
            
            .btn-contain{
                max-width: 380px;
               
                .btn-form{
                    margin: 8px 5px;
                    padding: 8px;
                    color: #fff;
                    border: 1px solid #fff;
                    background-color: #7b161600;
                    cursor: pointer;
                    border-radius: 15px;
                }
            }
        }

        #submit-form{
            background-color: #0A245E;
            color: white;
            border:none;
            padding: 11px;
            border-radius: 7px;
            place-items: center;
            cursor: pointer;
            
          
        }

        #submit-form:hover{
            background-color: #44609e;
            border: solid 1px #fff;
          }


        section#third-colomn{
            color:white;
            font-weight: 500;

            .contact-form{
                height: 500px;
                border: 1px solid rgb(54, 54, 54);

                .send-mail{
                    height: 200px;
                    border-bottom: solid 1px black;
                }
            }

            .linkedin,
             .e-mail,
             .webflow,
             .github{
                display: flex;
                justify-content: space-between;
            }
        }
        
            
}

::placeholder{
    color:rgb(33, 33, 33);
    font-size: .9rem;
}


/* -------------------MEDIA QUERY */


@media (max-width: 768px) {
    .vue-projet {
        flex-direction: column;
    }
    
    .mobile-vue, 
    .desktop-vue, 
    .desktop-vue-task {
        width: 100%;
        max-height: none;
    }
    
    .container-project .flex span {
        font-size: 30px !important;
    }
}

@media (max-width: 480px) {
    #content-header {
        font-size: 1.2rem;
        margin: 50px 0 0 20px;
    }

    #me p {
        font-size: 8rem;
    }

    ul.nav-top {
        font-size: 1rem;
        padding: 5px;
    }
    
    #my-latest-project .container-project .flex span {
        font-size: 20px !important;
    }
}

/* ABOUT ME */

#heading{
    position: relative;
    bottom: 100px;
    /* margin: 50px 0 50px 150px; */
    h1{
        position: absolute;
        top: -100px;
        margin: 15px;
        color: rgb(180, 177, 177, 0.3);
        font-size: 5.9rem;
        font-weight: 200;
        }
        h2{
            top: -47px;
            left: 65px;
            position: relative;
            font-size: 3.7rem;
            font-weight: 400;
            color:#756CDA;;

        }
    }
#about-me {
    max-width: 85vw;
    margin: 0 auto;
    
    }

   section#grid-about{
    padding: 25px;
        display: grid;
        grid-template-columns: 40% 60%;
        margin-top: 70px;

        gap: 10px;
          #me-about{
                margin: 100px;
                display: flex;
                justify-content: center;


          }
            #me-profil{
                position: absolute; 
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 200px; 
                height: auto;
                z-index: 1; 
                    #background-profil{
                        width: 100%;
                        height: auto;
                        display: block;
                    }
            }

            #resume {
                margin-top: 90px;
                   p#hello{
                    color: #756CDA;
                    font-size: 2.2rem;
                    margin: 20px;
                   }
                   p{
                    color: #a7a7d4;
                    font-size: 1.3rem;
                    margin: 20px;
                    max-width: 80%;
                   }

                  .hr{
                    margin: 10px;
                    border :solid 1px rgb(243, 243, 243);
                    width:100%
                  }

                  #formation{
                    margin:15px 45px;
                    color: #8989c0;
                    font-size: 1.3rem;
                  }


                  .contact-me {
                    position: absolute;
                    right: 0;
                    background-color: #2548AE;
                    width: 250px;
                    height: 115px;
                    padding: 2px;

                        p{
                            color:#fff;
                            margin-top: 7px;
                        }

                        p.contact-info{
                            color: rgb(255, 255, 255);
                            font-size: 0.74rem;
                        }
                     .contact{
                        position: relative;
                        top: 25px;
                        left: 37px;
                        height: 115px;
                        background-color: #d8d8d8ef;
                        width: 215px;
                        z-index: 2000;

                        img{
                            position: absolute;
                            right: 0px;
                            bottom: 9px;
                        }
                     }
                  }
                
            }
        }

 #heading >figure.flex{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            figcaption{
                line-height: 29px;
                position: absolute;
                top:65%;
                left: 27%;
                font-size: 1.7rem;
                color: #756CDA;;
                z-index: 2000;
                font-weight: 550;

                    span{
                        display: block;
                        
                        
                    }

                    span.last {
                        font-weight: 500;
                    }
            }
}

#grid-education-langage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    margin: 20px 0 0 150px;

     #langage, #education{
          h1{
            text-transform: uppercase;
            color:#756CDA;
            
            font-size: 1.5rem;
            font-weight: 500;
            margin-left: 30px;
          }
          p.where{

            color: #756CDA;
          }

          p.when {
            margin: 2px 5px;
            color: rgb(184, 182, 182);
            font-size: 0.9rem;
          }

          p.loca {
            margin: 2px 5px;
            color: rgb(184, 182, 182);
            font-size: 0.9rem;
          }

          p.what-langage {
            color: #8989c0;
            font-size: 1.1rem;
          }

          p.skill {
            font-size: .75rem;
            color: rgb(186, 186, 186);
          }
     }

     

}

.arrow {
    color : #756CDA;
    cursor: pointer;
    font-size: 100px;
    
 }

div.flex2{
    margin: 0 18px;
    display: flex;
}

.hr2{
    margin: 10px;
    border :solid 1px rgb(243, 243, 243);
    width:50%
  }

  .flex-bullet { 
    display : flex;
    max-width: 350px;
    justify-content: space-between;

        img{
          position: relative;
          top: 12px;
          height: 27px;
        }
  }

  section#education > p {
    
        color: #b1b1b1;
        font-size: 1.3rem;
        margin:15px 20px;
        max-width: 80%;
     
  }

/* TECHNICAL OUTLINE   */

#technical-outline{
    background-color: #1E1E2F;
    border: solid 1px #a9a8a8;
    height: 70vh;
    
    border-radius: 5px;
    max-width: 85vw;
    margin: 0 auto;
    margin-top: 25px;
    padding: 20px;     
       
        section#grid-technical{
            display:grid;
            grid-template-columns: 1fr 1fr;

            #what-technology{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
}

#technical {
    color: #756CDA;

    .hr-tech{
        margin: 10px 0;
        border :solid 2px #756CDA;
        width:7%
      }

      p{
        max-width: 600px;
        color : #fff;
        line-height: 40px;
        font-size: 1.4rem;

        
      }
    }


/* SLIDER/ */

.splide {
    max-width: 250px;
    margin-top: 25px;
    padding: 20px; 
    
    .splide__list{
        max-width: 350px;
    }    

    .splide__slide img {
        height: 120px;
        background-color:#2D2D42;
        border: 1px solid #a9a8a8;
        padding: 25px;
        
        border-radius: 5px;
    }
}


.swiper{
     max-width: 300px; 
    /* display: flex; 
    flex-direction: column;  */
    
    .swiper-wrapper{
        max-height: 100px;
        
    }



    .swiper-slide{
        display: flex;
        height: 120px;
        background-color:#2D2D42;
        border: 1px solid #a9a8a8;
        padding: 25px;
        
        border-radius: 5px;
    }

}